@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100&family=Roboto:wght@300&display=swap');

/*font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/

*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

html,body{
	height: 100%;
	background-color: #d9d7d7;
}
.warnin{
		font-family: 'Montserrat';
	display: none;
	background-color: red;
	color: white;
	width: 100%;
	max-width: 300px;
	height: 60px;
	padding: 20px;
	z-index: 4;
	text-align: center;
	left: 50%;
	border-radius: 10px;
	top: -190px;
	transform: translate(-50%);
	position: fixed;
	margin: 300px auto;
}
.warnin2{
		border-radius: 10px;
		font-family: 'Montserrat';
	display: none;
	background-color: green;
	color: white;
	width: 100%;
	max-width: 300px;
	height: 60px;
	padding: 20px;
	z-index: 4;
	text-align: center;
	left: 50%;
	top: -190px;
	transform: translate(-50%);
	position: fixed;
	margin: 300px auto;
}
.carrinho{
	background-color: rgba(247, 0, 0, 0.6);
	top: 10px;
	border-radius: 50px;
	border: 2px solid black;
	cursor: pointer;
	position: fixed;
	background-image: url('carri.png');
	 background-size: 80% 50%;
	 background-repeat: no-repeat;
	background-position: center;
	margin-left: 10px;
	width: 80px;
	height: 80px;
	z-index: 5;
	/*animation: floating 2s infinite ease-in-out;*/
}
.carrinho:hover{
	width: 90px;
	transition: .4s;
	height: 90px;
}
/*container*/
.container{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}
.response{
	width: 100%;
	height: 100%;
	display: flex;
}

/*container fim*/

.bg{
	position: fixed;
	width: 100%;
	height: 90px;
	left: 0px;
	top: 0px;
z-index: 10;
	background: black;
}

.item{
	margin: 0 auto;
	border-radius: 20px;
	margin-bottom: 30px;
	padding: 10px;
	background-color: white;
	width: 270px;
	text-align: center;
}
.itens{
	padding-top: 10px;
	width: 70%;
	
	margin: 0 auto;
}

.fathercarrinho{
	width: 15%;

}

.item a {
	text-align: center;
	text-decoration: none;
	color: black;

	font-style: none;
	
	font-size: 20px;
}

.vetores{

	margin: 0 auto;
	display: flex;
	width: 70%;
	padding: 10px;
	height: 100px;

}

.vetor{
	text-align: center;
	width: 120px;
	padding: 10px;
	height: 100px;
}

.vetor img{
	border-radius: 10px;
		width: 100%;
	height: 100%;
}

.logovix{
	width: 200px;
	margin: 0 auto;
}
.logovix img{
	margin-bottom: 30px;
	width: 100%;
}

.contlogo p{
	color: white;
	z-index: 2;
}
.contlogo img{

	position: relative;
	z-index: 1;
	top: -30px;
	left: 20px;
	width: 80px;
	height: 80px;
}


.container1{
	background-image: url('nn.jpg');
	 background-size: cover;
	 background-repeat: no-repeat;
	background-position: center;

	display: flex;
	width: 100%;
	height: 600px;
}
.pemdest{
	border:1px solid black;
	text-align: center;
	width: 100%;

	height: 80px;
background: rgb(204,204,204);
background: linear-gradient(0deg, rgba(204,204,204,1) 26%, rgba(255,255,255,0.9915191906840861) 79%);

}
.pemdest h1{
	padding-top: 20px;
	font-size: 30px;
	font-weight: none;
	font-family: 'Roboto', sans-serif;

}

.catalogo{
	text-align: center;
	width: 100%;
	height: 110px;
background: rgb(232,226,223);
background: linear-gradient(0deg, rgba(232,226,223,1) 78%, rgba(0,0,0,0.6251470314688375) 95%);
}
.catalogo h1{
	padding-top: 38px;
	padding-bottom: 20px;
	font-size: 36px;
	font-weight: none;
	font-family: 'Roboto', sans-serif;
}


@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}




/*-----------------------------SLIDE-----------------------*/
	    #slideshow {
	   width: 100%;
      max-width: 1200px;
      height: 220px;
      overflow: hidden;
      position: relative;
      margin: 0 auto;
      background: #ccc;
    }

    #slideshow .slides-container {
      display: flex;
      transition: transform 0.3s ease-in-out;
    }

    #slideshow .slide {
    	border:1px solid black;
      flex: 0 0 100px;
      height: 220px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1px;
      text-align: center;
    }

    #slideshow .slide img {

      width: 300px;
      height: 180px;
    }

    #slideshow .slide .caption {

    border-top: 1px solid black;
      margin-top: 10px;
      margin-bottom: 40px;
      	font-family: 'Roboto', sans-serif;
    }

    #slideshow .prev,
    #slideshow .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      background: rgba(0, 0, 0, 0.5);
      padding: 5px;
      cursor: pointer;
    }

    #slideshow .prev {
      left: 5px;
    }

    #slideshow .next {
      right: 5px;
    } 
/*-----------------------------SLIDE FIM-----------------------*/




.texto1{
	margin-top: 100px;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
	
}

.texto1 h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	/* or 100px */
	text-align: center;
	color: white;
}
.texto2 h1{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	/* identical to box height, or 32px */
	align-items: center;
	text-align: center;

	color: rgba(236, 236, 236, 0.85);
}
.btn{
	margin-top: 200px;
	text-align: center;
	position: relative;

}
.btn input[type=button]{
	cursor: pointer;
	border: none;
	width: 250px;
	border: 2px solid green;
	height: 60px;
	background-color: white;
	border-radius: 30px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size:17px;
/* identical to box height, or 30px */
color: green;
}
.btn input[type=button]:hover{
	background-color: #ccc;
	transition: .3s;
	width: 210px;
	border: 1px solid green;
	height: 50px;
}




.container3{

	align-items: center;
	width: 100%;
	margin-bottom: 50px;
	background-color: #d9d7d7;
}


.linecontainer{

}


/*veiculos em destaque*/
	.line-titulo{
		position: relative;
		text-align: center;
		max-width: 1000px;
		margin: 0px auto;
 		margin-top: 20px;
		margin-bottom: 20px;
	}
	.ln1{
		position: absolute;
		height: 1px; 
		background:black;
		width: 100%;
		top: 10px;
	}

 .line-titulo  h2{
		text-align: center;
		background-color: #d9d7d7;
		position: relative;
		display: inline-block;
		font-size: 17px;
		padding: 0 20px;  
		font-style: italic;
		text-transform: uppercase;
	}	
	
/*veiculos em destaque-fim*/

.container-produtos{
	width: 100%;
	margin-bottom: 100px;
}

.produtos-single{
		  
 /* animation: floating 10s infinite ease-in-out;*/
	margin: 0 auto;
	margin-top: 2px;
	width: 100%;
	max-width: 1100px;
	
	height: 600px;
background: rgb(231,224,224);
background: linear-gradient(0deg, rgba(231,224,224,1) 10%, rgba(0,0,0,0.7511974516369048) 63%);
	border-radius: 5px;

}	
.produtos-single img {
	width: 100%;
	height: 480px;
}

.produtos-single h1{
	text-align: center;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
		padding: 10px;
		
	color: black;
}
.produtos-single p{
 	font-family: 'Roboto', sans-serif;
	padding: 14px;
	font-style: normal;
	font-weight: 700;
	font-size: 11px;
	line-height: 130%;
	letter-spacing: -0.08px;
	color: #ECECEC;

}

.btnadd2{
	margin: 0 auto;
	margin-bottom: 10px;
	position: relative;
	max-width: 180px;
	position: relative;
	top: -30px;

}
.btnadd2 input[type=button]{
	cursor: pointer;
	border: none;
	width: 180px;
	border: 2px solid blue;
	height: 40px;
	background-color: white;
	border-radius: 30px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size:14px;
/* identical to box height, or 30px */
color: blue;
}
.btnadd2 input[type=button]:hover{
	background-color: #ccc;
	transition: .3s;
	border: 1px solid blue;
}



.btnadd{
	
	margin-left: 10px;
	margin-bottom: 10px;
	position: relative;
	max-width: 180px;
		margin: 0 auto;

}
.btnadd input[type=button]{
	cursor: pointer;
	border: none;
	width: 180px;
	border: 2px solid blue;
	height: 40px;
	background-color: white;
	border-radius: 30px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size:14px;
		margin: 0 auto;
/* identical to box height, or 30px */
color: blue;
}
.btnadd input[type=button]:hover{
	background-color: #ccc;
	transition: .3s;
	border: 1px solid blue;
}


.container4{
	padding: 107px 12px 0px;
	width: 100%;
	background: linear-gradient(180deg, #370C94  0%, #0B0121 61.12%);

}



.btn1{
	display: inline-block;
	margin-top: 20px;
	text-align: center;
	text-decoration: none;
	line-height: 50px;
	color: white;
	font-style: italic;
	width: 250px;
	height: 50px;
	border-bottom:4px solid #B21E1E;
	font-size: 18px;	
	background-color: #de0000;
}





.formfinalcontainer{
	background-image: url('nn.jpg');
	 background-size: cover;
	 background-repeat: no-repeat;
	background-position: center;

	display: flex;
	width: 100%;
	height: 500px;
}


.cont1{
	padding-left: 20px;
	padding-top: 40px;
	width: 50%;
	height: 100%;
	
}

.cont2{
	width: 50%;
	height: 100%;

}

.cont1 input[type=text]{
	margin-top: 30px;
	padding: 10px;
	width: 80%;
	height: 29px;
	border: 2px solid black;
	border-radius: 10px;
	
}
.cont1 textarea{
	color: gray;
	margin-top: 30px;
	padding-left: 5px;
	padding-top: 5px;
	width: 80%;
	height: 102px;
	border: 2px solid black;
	border-radius: 10px;
	
}

.cont1 input[type=button]{
	background: grey;
	margin-top: 20px;
		border: 2px solid black;
	border-radius: 10px;
	width: 30%;
	height: 30px;
	cursor: pointer;
}

.cont2 h1{
	font-family: 'Roboto', sans-serif;
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 140px;
}


/*footer*/
footer{
	display: flex;
	padding: 20px 2%;
	background-color: #ccc;
	text-align: center;
	margin: 0 auto;
}


footer p{
	font-weight: bold;
	color: black;
	 font-size: 34px;
	 	font-family: 'Roboto', sans-serif;
}

.footercont1{
	padding-top: 40px;
	width: 30%;
	
}
.footercont2{
	padding-top: 20px;
	width: 70%;
	
}

@media screen and (max-width: 768px){
	footer p{
		display: none;
	}
}


/*footer fim*/









.bgL{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'PT Sans', sans-serif;
	z-index: 11;
	width: 100%;
	height: 10380px;
	background-color: rgba(0,0,0,0.8);
}

.bgL2{
	display: none;
	position: absolute;
	top: 0;
	left: 0;font-family: 'PT Sans', sans-serif;
	z-index: 11;
	width: 100%;
	height: 10380px;
	background-color: rgba(0,0,0,0.8);
}
.bgL3{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'PT Sans', sans-serif;
	z-index: 11;
	width: 100%;
	height: 10380px;
	background-color: rgba(0,0,0,0.8);
}
.produtosadd{
	margin: 0 auto;
	width: 100%;
	max-width: 400px;
	height: 100%;
	max-height: 250px;
}
.produtosaddul{

}

.inputflex input[type=text]{
	font-family: 'Roboto';
	color: black;
	width: 80%;
}
.inputflex p{
	text-align: left;
	width: 20%;
}

.produtosadd ul li{
	padding-bottom: 10px;
	color: white;
	font-size: 25px;
	list-style: none;
}

.bgconteudoL{
	overflow-y: scroll; 
	overflow-x: hidden;
	border-radius: 10px;
	text-align: center;
	left: 50%;
	top: -20px;
	font-family: 'PT Sans', sans-serif;
	transform: translate(-50%);
	position: fixed;
	max-width: 600px;	
	width: 100%;
	height: 420px;
	margin: 100px auto;
	background-color: grey;

}
.bgconteudoL input[type=text]{
	margin: 0 auto;
	color: black;
	position: relative;
	font-family: 'PT Sans', sans-serif;

}
.bgconteudoL h1{
		font-family: 'Montserrat';
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 50px;
	font-size: 30px;
	line-height: 100%;
	/* or 100px */
	text-align: center;
	background: linear-gradient(145.55deg, #ECECEC 20.35%, rgba(236, 236, 236, 0) 128.73%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.bgconteudoL p{
	font-family: 'Montserrat';
	font-weight: 700;
	margin-bottom: 10px;
	margin-top: 20px;
	font-size: 20px;
	color: white;
}
.bgconteudoL input[type=text]{
	padding: 10px;
	height: 30px;
	border-radius: 20px;

	color: black;
	width: 300px;
}
.bgconteudoL input[type=Email]{
		padding: 10px;
	height: 30px;
	border-radius: 20px;
		color: black;
		font-family: 'Montserrat';
	width: 300px;
}
.bgconteudoL h3{
	color: #0B081C;
}
.bgconteudoL input[type=button]{
	margin-top: 40px;
	cursor: pointer;
	border: none;
	width: 200px;
	height: 40px;
	background-color: white;
	border-radius: 30px;
	font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size:17px;



color: #0B081C;
}




.btnsflex{
	display: flex;
}



















@media screen and (max-width: 600px){
.footercont1{
	padding-top: 20px;
	width: 40%;
	display: none;
	
}
.footercont2{
	padding-top: 20px;
	width: 100%;
	
}
.carrinho{
	background-color: rgba(247, 0, 0, 0.6);
	top: 10px;
	border-radius: 50px;
	border: 2px solid black;
	cursor: pointer;
	position: fixed;
	background-image: url('carri.png');
	 background-size: 80% 50%;
	 background-repeat: no-repeat;
	background-position: center;
	margin-left: -10px;
	width: 60px;
	height: 60px;
	z-index: 5;
	/*animation: floating 2s infinite ease-in-out;*/
}
.carrinho:hover{
	width: 70px;
	height: 70px;
}
.produtos-single img {
	width: 100%;
	height: 400px;
}
.produtos-single{
		  
 /* animation: floating 10s infinite ease-in-out;*/

		height: 520px;


}



.formfinalcontainer{
	background-image: url('nn.jpg');
	 background-size: cover;
	 background-repeat: no-repeat;
	background-position: center;

	display: block;
	width: 100%;
	height: 500px;
}


.cont1{
	padding-left: 20px;
	padding-top: 40px;
	width: 100%;
	height: 100%;
	
}

.cont2{
	display: none;
	width: 50%;
	height: 100%;

}

.cont1 input[type=text]{
	margin-top: 30px;
	padding: 10px;
	width: 80%;
	height: 29px;
	border: 2px solid black;
	border-radius: 10px;
	
}
.cont1 textarea{
	color: gray;
	margin-top: 30px;
	padding-left: 5px;
	padding-top: 5px;
	width: 80%;
	height: 102px;
	border: 2px solid black;
	border-radius: 10px;
	
}

.cont1 input[type=button]{
	background: grey;
	margin-top: 20px;
		border: 2px solid black;
	border-radius: 10px;
	width: 30%;
	height: 30px;
	cursor: pointer;
}

.cont2 h1{
	font-family: 'Roboto', sans-serif;
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 140px;
}

.vetor{
	text-align: center;
	width: 80px;
	padding: 10px;
	height: 60px;
}

.vetor img{
	border-radius: 10px;
		width: 100%;
	height: 100%;
}
.bg{
	position: fixed;
	width: 100%;
	height: 10380px;
	left: 0px;
	top: 0px;
z-index: 10;
	background: black;
}












.bgL3{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'PT Sans', sans-serif;
	z-index: 11;
	width: 100%;
	height: 10380px;
	background-color: rgba(0,0,0,0.8);
}
.bgL2{
	display: none;
	position: absolute;
	top: 0;
	left: 0;font-family: 'PT Sans', sans-serif;
	z-index: 11;
	width: 100%;
		height: 10380px;
	background-color: rgba(0,0,0,0.8);
}


.bgconteudoL{
	overflow-y: scroll; 
	overflow-x: hidden;
	border-radius: 10px;
	text-align: center;
	z-index: 99;
	left: 50%;
	top: -100px;
	font-family: 'PT Sans', sans-serif;
	transform: translate(-50%);
	position: fixed;
	max-width: 400px;	
	width: 100%;
	height: 580px;
	margin: 100px auto;
	

}
.bgconteudoL input[type=text]{
	margin: 0 auto;
	color: black;
	position: relative;
	font-family: 'PT Sans', sans-serif;

}
.bgconteudoL h1{

		font-family: 'Montserrat';
	font-weight: 700;
	margin-top: 70px;
	margin-bottom: 50px;
	font-size: 30px;
	line-height: 100%;
	/* or 100px */
	text-align: center;
	background: linear-gradient(145.55deg, #ECECEC 20.35%, rgba(236, 236, 236, 0) 128.73%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.btnsflex{
	display: inline-block;
}
.bgconteudoL p{
	font-family: 'Montserrat';
	font-weight: 700;
	margin-bottom: 10px;
	margin-top: 20px;
	font-size: 20px;
	color: white;
}
.bgconteudoL input[type=text]{
	padding: 10px;
	height: 30px;
	border-radius: 20px;
	color: black;
	width: 200px;
}
.bgconteudoL input[type=Email]{
		padding: 10px;
	height: 30px;
	border-radius: 20px;
		color: black;
		font-family: 'Montserrat';
	width: 300px;
}
.bgconteudoL h3{
	color: #0B081C;
}
.bgconteudoL input[type=button]{
	margin-top: 40px;
	cursor: pointer;
	border: none;
	width: 200px;
	height: 40px;
	background-color: white;
	border-radius: 30px;
	font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size:17px;



color: #0B081C;
}



.btnadd2 input[tyoe=button]{
	margin-bottom: 1px;
	position: relative;
	top: -10px;
}

  }